<!DOCTYPE html>
<html lang="id-ID">
<head>
<title>Surat <%= namasurah %> Arab, Latin & Terjemah Bahasa Indonesia | Myquran.tk</title>
<meta content="follow,index" name="robots">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Baca Surat <%= namasurah %> lengkap dengan bacaan arab, latin & terjemah Indonesia. Website cepat, ringan & hemat kuota.">
<meta property="og:title" content="Surat <%= namasurah %> arab, latin & terjemah Indonesia">
<meta property="og:description" content="Baca Surat <%= namasurah %> lengkap dengan bacaan arab, latin & terjemah Indonesia. Website cepat, ringan & hemat kuota.">
<meta property="og:url" content="/">
<meta name="google" content="notranslate" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<link rel="canonical" href="/<%= surah %>">
<link rel="shortcut icon" href="#">
<link rel="stylesheet" href="/assets/style.css">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//www.googletagservices.com">
<link rel="dns-prefetch" href="//adservice.google.com">
<link rel="dns-prefetch" href="//pagead2.googlesyndication.com">
<link rel="dns-prefetch" href="//tpc.googlesyndication.com">
<link rel="preload" href="/assets/fonts/LPMQ.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body>
<header class="header-nav">
<h1 class="logo"><a href="/">Myquran</a></h1>
</header>
<main class="content wrap cf">
<article class="surat">
<header>
<h1 class="page-title">Surat <%= namasurah %></h1>
</header>
<p class="bismillah">بِسْمِ اللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ</p>
<ol>
<% json.map(a => { %>
<li><span class="ayat" title="Ayat <%= a.ayat %>"><%= a.bacaan %></span><span class="bacaan"><%= a.latin %></span><span class="arti"><%= a.arti %></span></li>
<% }) %>
</ol>
</article>
</main>
<%- include('footer.ejs') -%>
<div id="om-aegqqhfkwttcf814-holder"></div>
<div id="om-hturdrk0vmu1ibqb-holder"></div>
<script defer src="/assets/sitev4.0.min.js" type="ddb4cfad1f968fb4ffad8e64-text/javascript"></script>
</body>
</html>
